<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <display-name>SERVICE-MYSPRING</display-name>

    <!--==================================================================-->
    <!--Welcome-->
    <!--==================================================================-->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!--==================================================================-->
    <!--SpringMVC-->
    <!--==================================================================-->
    <servlet>
        <servlet-name>mymvc</servlet-name>
        <servlet-class>com.yb.myspring.servlet.MyDispatchServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <!--you can't use classpath*:-->
            <param-value>application.properties</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>mymvc</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>